{% extends 'base.html' %}
{% block content %}

    <h2>Product List</h2>

    {% if products %}
        <ul>
            {% for product in products %}
                <li>
                    <strong>{{ product.name }}</strong>
                    <p>{{ product.description }}</p>
                    <p>Price: ${{ product.price }}</p>
                    <p>Qty: {{ product.inventory.stock_quantity}}</p>
                    <a href="{% url 'manage_inventory' product.id %}"> add stock</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No products available.</p>
    {% endif %}

    <a href="{% url 'add_product' %}">Add Product</a>


{% endblock %}